DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=

MONTHLY_TOKEN_LIMIT=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=

STRIPE_CURRENCY=CNY
STRIPE_SK_LIVE=
STRIPE_PK_LIVE=
STRIPE_WEBHOOK_SECRET=
