# Gemini API Configuration，多个KEY用英文逗号分隔
API_KEY=

API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:streamGenerateContent

# MySQL Database Connection
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT Secret (Use strong secret in production, minimum 32 characters)
JWT_SECRET=xxx

# Token expiration time (options: 1d, 7d, 24h, 60m, etc.)
JWT_EXPIRES_IN=7d

# mail Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=

# Monthly Token Limit for User (default: 150000 tokens per month)
MONTHLY_TOKEN_LIMIT=150000

# Admin Token for Database Updates (change in production)
ADMIN_TOKEN=